.topnav{
  width: 1920px;
  height: 140px;
  object-fit: contain;
  /* background-image: url("images/Group-408.svg");
  background-position: right top; */
  
  }

  #nav-image{
    background-image: url(images/Group-408.svg);
    
    background-repeat: no-repeat;
    background-size: 100%;
    width: 1037px;
    height: 475px;
    margin-left: 1920px;
    
   
  }

  .Group-408 {
    width: 1037px;
    height: 475px;
    object-fit: contain;
  }
  

  .topnav a{
    text-decoration: none;
  }

  .logo{
    width: 306px;
    height: 82px;
    object-fit: contain;
    margin-left: 59px;
    margin-top: 22px;
    margin-bottom: 36px;
  }

  .Live-Classes {
    width: 201px;
    height: 39px;
    object-fit: contain;
    font-family: Montserrat;
    font-size: 32px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.22;
    letter-spacing: normal;
    text-align: left;
    color: #4b4b4b;
    margin-top: 51px;
    margin-bottom: 50px;
    margin-left: 288px;
    text-decoration: none;

  }

  .Video-Library {
    width: 223px;
    height: 39px;
    object-fit: contain;
    font-family: Montserrat;
    font-size: 32px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.22;
    letter-spacing: normal;
    text-align: left;
    color: #4b4b4b;
    margin-top: 51px;
    margin-bottom: 50px;
    margin-left: 109px;
  }

  .Course {
    width: 117px;
    height: 39px;
    object-fit: contain;
    font-family: Montserrat;
    font-size: 32px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.22;
    letter-spacing: normal;
    text-align: left;
    color: #4b4b4b;
    margin-top: 51px;
    margin-bottom: 50px;
    margin-left: 109px; 
    
  }

  .Book {
    width: 88px;
    height: 39px;
    object-fit: contain;
    font-family: Montserrat;
    font-size: 32px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.22;
    letter-spacing: normal;
    text-align: left;
    color: #4b4b4b;
    margin-top: 51px;
    margin-bottom: 50px;
    margin-left: 109px;
  }

  .Board {
    width: 101px;
    height: 39px;
    object-fit: contain;
    font-family: Montserrat;
    font-size: 32px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.22;
    letter-spacing: normal;
    text-align: left;
    color: #4b4b4b;
    margin-top: 51px;
    margin-bottom: 50px;
    margin-left: 109px;
    
  }

  .Group-408 {
      width: 1037px;
      height: 475px;
      object-fit: contain;
    
  }

  .Board-conquer {
    width: 960px;
    height: 5398.5px;
    background-color: #ffffff;
  }

  .Conquer-your-School-Exams-with-Us {
    width: 1455px;
    height: 89px;
    object-fit: contain;
    font-family:'Montserrat';
    font-size: 73px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.22;
    letter-spacing: normal;
    text-align: left;
    color: #4b4b4b;
    margin-left: 233px;
    margin-right: 232px;
  }
  .Conquer-your-School-Exams-with-Us .text-style-1 {
    color: #1d4191;
  }



  .Your-board-your-language1 {
    width: 681px;
    height: 58px;
    object-fit: contain;
    font-family: Montserrat;
    font-size: 48px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.21;
    letter-spacing: normal;
    text-align: left;
    color: #4b4b4b;
    margin-left: 620px;
    margin-right: 619px;
    
  }
  .btn1{
    width: 358px;
    height: 65px;
    object-fit: contain;
    border-radius: 10px;
    background-color: #d60b3c;
    object-fit: contain;
    margin-left: 781px;
    margin-right: 781px;
    margin-top: 58px;
    border-color: none;
    }

  .Start-preparing-now {
    width: 281px;
    height: 34px;
    font-family:'Roboto';
    font-size: 26px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.31;
    letter-spacing: 2.32px;
    text-align: left;
    color: #ffffff;
  }

  .gummy-app-development {
    width: 1062.3px;
    height: 478px;
    object-fit: contain;
    margin-top: 88px;
    margin-left: 429px;
    margin-right: 428.7px;
  }

  .Group-889 {
    width: 681px;
    height: 178px;
    object-fit: contain;
    margin-top: 96px;
    margin-left: 100px;
    margin-right: 1139px; 
  }

  .State-Boards {
    width: 500px;
    height: 88px;
    font-family:'Montserrat';
    
    font-size: 72px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.22;
    letter-spacing: normal;
    text-align: left;
    color: #1e4190;
    margin-left: 50px;
  }

  .Group-889 .Your-board-your-language2 {
    width: 681px;
    height: 58px;
    font-family: 'Montserrat';
    font-size: 48px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.21;
    letter-spacing: normal;
    text-align: left;
    color: #4b4b4b;
    margin-left: 50px;
  }

  .Ellipse-90 {
    width: 750px;
    height: 475px;
    opacity: 0.05;
    border: solid 1px #707070;
    background-image: linear-gradient(to bottom, #4baea0, #5268ba);
  }
  .Ellipse-91 {
    width: 1037px;
    height: 270px;
    opacity: 0.05;
    border: solid 1px #707070;
    background-image: linear-gradient(to bottom, #4baea0, #5268ba);
  }


  

    .Rectangle-705 {
      width: 1439px;
      height: 3218px;
      object-fit: contain;
      border-radius: 27px;
      box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
      background-color: #ffffff;
      margin-top: 25px;
      margin-right: 69px;
    }


  .Uttar-Pradesh-Board {
    width: 513px;
    height: 58px;
    object-fit: contain;
    font-family: Montserrat;
    font-size: 48px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.21;
    letter-spacing: normal;
    text-align: left;
    color: #1e4190;
    margin-left: 402px;
    margin-right: 524px;
    margin-top: 28px;
  }
  
  .Conquer-your-boards-and-learn-every-concept-with-us {
    width: 1032px;
    height: 47px;
    object-fit: contain;
    font-family: Montserrat;
    font-size: 38px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.24;
    letter-spacing: normal;
    text-align: left;
    color: #4b4b4b;
    margin-top: 9px;
    margin-left: 142px; 
    margin-right: 265px;
  }

  .Class-12 {
    width: 205px;
    height: 58px;
    object-fit: contain;
    font-family: Montserrat;
    font-size: 48px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.21;
    letter-spacing: normal;
    text-align: left;
    color: #1e4190;
    margin-left: 32px;
  }

  

  .state-subjects{
      display: inline-flex;
      margin-top: 25px;
  }
    .Maharashtra {
      width: 154px;
      height: 34px;
      object-fit: contain;
      font-family: Roboto;
      font-size: 26px;
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.31;
      letter-spacing: 2.32px;
      text-align: left;
      color: #1e4190;
      margin-left: 137px;
      margin-top: 242px;
    }

    .Rectangle-377 {
      width: 412px;
      height: 65px;
      object-fit: contain;
      border: solid 2px #d60b3c;
      background-color: #db0c3e;
    }

  
    .Uttar-Pradesh {
      width: 188px;
      height: 34px;
      object-fit: contain;
      font-family: Roboto;
      font-size: 26px;
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.31;
      letter-spacing: 2.32px;
      text-align: left;
      color: #ffffff;
      margin-left: 121px;
      margin-top: 16px;
    }

    .Andhra-Pradesh {
      width: 216px;
      height: 34px;
      object-fit: contain;
      font-family: Roboto;
      font-size: 26px;
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.31;
      letter-spacing: 2.32px;
      text-align: left;
      color: #1e4190;
      margin-left: 112px;
      margin-top: 24px;
      }

      .Gujarat {
        width: 98px;
        height: 34px;
        object-fit: contain;
        font-family: Roboto;
        font-size: 26px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.31;
        letter-spacing: 2.32px;
        text-align: left;
        color: #1e4190;
        margin-left: 164px;
        margin-top: 47px;
      }

      .Punjab {
        width: 92px;
        height: 34px;
        object-fit: contain;
        font-family: Roboto;
        font-size: 26px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.31;
        letter-spacing: 2.32px;
        text-align: left;
        color: #1e4190;
        margin-left: 167px;
        margin-top: 47px;
      }

      .Kerala {
        width: 85px;
        height: 34px;
        object-fit: contain;
        font-family: Roboto;
        font-size: 26px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.31;
        letter-spacing: 2.32px;
        text-align: left;
        color: #1e4190;
        margin-left: 171px;
        margin-top: 47px;
      }

      .Madhya-Pradesh {
        width: 225px;
        height: 34px;
        object-fit: contain;
        font-family: Roboto;
        font-size: 26px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.31;
        letter-spacing: 2.32px;
        text-align: left;
        color: #1e4190;
        margin-left: 100px;
        margin-top: 47px;
      }

      .Maths {
        width: 103px;
        height: 39px;
        object-fit: contain;
        font-family: Montserrat;
        font-size: 32px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.22;
        letter-spacing: normal;
        text-align: left;
        color: #1e4190;
        margin-left: 110px;
        margin-top: 67px;
      }
    
      .Rectangle-705 .cards{
        display: inline-flex;    
      }
    
    
      .math{
        display: inline-flex;
       }

        .cards .card1{
          width: 194px;
          height: 132px;
          object-fit: contain;
          border-radius: 10px;
          box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.3);
          background-color: #ffffff;
          
        }
    
        .card1 .Rectangle-665 {
          width: 194px;
          height: 94px;
          background-color: #4baea0;
    
        }
        #math-1{
          margin-left: 127px;
        }
    
    
        .Pradeeps {
          width: 98px;
          height: 23px;
          font-family: Montserrat;
          font-size: 19px;
          font-weight: bold;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.21;
          letter-spacing: normal;
          text-align: left;
          color: #1e4091;
          margin-left: 47px;
          margin-right: 49px;
          margin-bottom: 11px;
          
        }
    
        .cards .card2{
          width: 195px;
          height: 131px;
          object-fit: contain;
          border-radius: 10px;
          box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.3);
          background-color: #ffffff;
          
          
        }
      
        .card2 .Rectangle-662 {
          width: 195px;
          height: 93px;
          background-color: #f1d4d4;
        }
    
        #math-2{
          margin-left: 77px;
        }
    
        .NCERT{
          width: 64px;
          height: 22px;
          font-family: Montserrat;
          font-size: 18px;
          font-weight: bold;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.22;
          letter-spacing: normal;
          text-align: left;
          color: #1e4091;
          margin-left: 66px;
          margin-bottom: 14px;
        }
    
    
        .cards .card3{
          width: 195px;
          height: 131px;
          object-fit: contain;
          border-radius: 10px;
          box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.3);
          background-color: #ffffff;
    
        }
    
        .card3 .Rectangle-663 {
          width: 195px;
          height: 93px;
          background-color: #ffe9d6;
          
        }
    
        #math-3{
          margin-left: 77px;
    
        }
    
        .KC-Sinha{
          width: 89px;
          height: 23px;
          font-family: Montserrat;
          font-size: 19px;
          font-weight: bold;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.21;
          letter-spacing: normal;
          text-align: left;
          color: #1e4091;
          margin-left: 53px;
          margin-bottom: 13px;
        }
    
        .cards .card4{
          width: 194px;
          height: 132px;
          object-fit: contain;
          border-radius: 10px;
          box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.3);
          background-color: #ffffff;
    
        }
    
        .card4 .Rectangle-666{
          width: 194px;
          height: 94px;
          background-color: #e9efff;
    
        }
    
        #math-4{
          margin-left: 76px;
    
        }
        #book-4{
          width: 86px;
          height: 63px;
          margin:17px 57px 17px 57px;

        }
    
        .SL-Arora{
          width: 83px;
          height: 23px;
          font-family: Montserrat;
          font-size: 19px;
          font-weight: bold;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.21;
          letter-spacing: normal;
          text-align: left;
          color: #1e4091;
          margin-left: 55px;
          margin-bottom: 11px;
    
        }

        
        .phy{
          display: inline-flex;
      }

    
        .Physics {
          width: 127px;
          height: 39px;
          object-fit: contain;
          font-family: Montserrat;
          font-size: 32px;
          font-weight: bold;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.22;
          letter-spacing: normal;
          text-align: left;
          color: #1e4190;
          margin-left: 98px;
          margin-top: 88px;
        }
    
        .cards .card5{
          width: 191px;
          height: 130px;
          object-fit: contain;
          border-radius: 10px;
          box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.3);
          background-color: #ffffff;
          
        }
    
        .card5 .Rectangle-665 {
          width: 191px;
          height: 93px;
          background-color: #4baea0;
        }
    
        #phy-1{
          margin-left: 115px;
          margin-top: 49px;
        }
    
        .cards .card6{
          width: 192px;
          height: 129px;
          object-fit: contain;
          border-radius: 10px;
          box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.3);
          background-color: #ffffff;
          
        }
    
        .card6 .Rectangle-662 {
          width: 192px;
          height: 91px;
          background-color: #f1d4d4;
        }
    
    
        #phy-2{
          margin-left: 80px;
          margin-top: 50px;
        }
    
        .cards .card7{
          width: 192px;
          height: 129px;
          object-fit: contain;
          border-radius: 10px;
          box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.3);
          background-color: #ffffff;
          
        }
    
        .card7 .Rectangle-663 {
          width: 192px;
          height: 91px;
          background-color: #ffe9d6;
        }
    
        #phy-3{
          margin-left: 80px;
          margin-top: 49px;
        }
    
        #phy-4{
          margin-left: 79px;
          margin-top: 50px;
        }
    

        .bio{
          display: inline-flex;
      }  
    
      .Biology {
        width: 127px;
        height: 39px;
        object-fit: contain;
        font-family: Montserrat;
        font-size: 32px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.22;
        letter-spacing: normal;
        text-align: left;
        color: #1e4190;
        margin-left: 98px;
        margin-top: 86px;
      }

      #bio-1{
        margin-left:115px;
        margin-top: 50px;
      }
      #bio-2{
        margin-left:80px;
        margin-top: 51px;

      }
      #bio-3{
        margin-left:77px;
        margin-top: 51px;

      }
      #bio-4{
        margin-left:75px;
        margin-top: 48px;

      }

      .chem{
        display: inline-flex;
    }

    .Chemistry {
      width: 174px;
      height: 39px;
      object-fit: contain;
      font-family: Montserrat;
      font-size: 32px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.22;
      letter-spacing: normal;
      text-align: left;
      color: #1e4190;
      margin-left: 74px;
      margin-top: 84px;
      
    }

    #chem-1{
      margin-left: 92px;
      margin-top: 51px;
    }

    
    #chem-2{
      margin-left: 80px;
      margin-top: 50px;
    }

    
    #chem-3{
      margin-left: 80px;
      margin-top: 49px;
    }

    
    #chem-4{
      margin-left: 79px;
      margin-top: 49px;
    }

    #book{
      width: 86px;
      height: 63px;
      margin: auto;
    }

    .Class-11 {
      width: 195px;
      height: 58px;
      object-fit: contain;
      font-family: Montserrat;
      font-size: 48px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.21;
      letter-spacing: normal;
      text-align: left;
      color: #1e4190;
      margin-left: 32px;
      margin-top: 42px;
    }

    .Group-831 {
      width: 955px;
      height: 205px;
      object-fit: contain;
      display: inline-flex;
      margin-top: 97px;
      margin-left: 74px;
      margin-right: 410px;
    }
    

    .Class-10 {
      width: 209px;
      height: 58px;
      font-family: Montserrat;
      font-size: 48px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.21;
      letter-spacing: normal;
      text-align: left;
      color: #1e4190;
      margin-top: 69px;
      margin-bottom: 78px;
    }

    .Rectangle-738 {
      width: 303px;
      height: 205px;
      border-radius: 10px;
      box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.3);
      background-color: #ffffff;
    }

    .later-Maths {
      width: 97px;
      height: 37px;
      font-family: 'Montserrat';
      font-size: 30px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.23;
      letter-spacing: normal;
     
      color: #1e4091;
      margin:auto;
    }

    .Science {
      width: 122px;
      height: 37px;
      font-family: 'Montserrat';
      font-size: 30px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.23;
      letter-spacing: normal;
      
      color: #1e4091;
      margin:auto;
    }

    

    .Group-832 {
      width: 955px;
      height: 205px;
      object-fit: contain;
      display: inline-flex;
      margin-left: 74px;
      margin-top: 51px;
    }

    .Class-9 {
      width: 188px;
      height: 58px;
      font-family: Montserrat;
      font-size: 48px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.21;
      letter-spacing: normal;
      text-align: left;
      color: #1e4190;
      margin-top: 69px;
      margin-bottom: 78px;
    }

   

    .Group-833 {
      width: 955px;
      height: 205px;
      object-fit: contain;
      display: inline-flex;
      margin-left: 74px;
      margin-top: 51px;
    }

    .Class-8 {
      width: 189px;
      height: 58px;
      font-family: Montserrat;
      font-size: 48px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.21;
      letter-spacing: normal;
      text-align: left;
      color: #1e4190;
      margin-top: 69px;
      margin-bottom: 78px;
    }

    .Group-834 {
      width: 955px;
      height: 205px;
      object-fit: contain;
      display: inline-flex;
      margin-left: 74px;
      margin-top: 51px;
    }

    .Class-7 {
      width: 187px;
      height: 58px;
      font-family: Montserrat;
      font-size: 48px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.21;
      letter-spacing: normal;
      text-align: left;
      color: #1e4190;
      margin-top: 69px;
      margin-bottom: 78px;
    }

    .Group-835 {
      width: 955px;
      height: 205px;
      object-fit: contain;
      display: inline-flex;
      margin-left: 74px;
      margin-top: 51px;
      margin-right: 410px;
    }

    .Class-6 {
      width: 188px;
      height: 58px;
      font-family: Montserrat;
      font-size: 48px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.21;
      letter-spacing: normal;
      text-align: left;
      color: #1e4190;
      margin-top: 69px;
      margin-bottom: 78px;
    }

    #math-10{
      margin-left:49.66px ;
      margin-top: 33px;

    }
    #math-9{
      margin-left:37px ;
      margin-top: 33px;

    }
    #math-8{
      margin-left:37px ;
      margin-top: 33px;

    }
    #math-7{
      margin-left:37px ;
      margin-top: 33px;

    }
    #math-6{
      margin-left:37px ;
      margin-top: 33px;

    }

    #sci-10{
      margin-left: 101px;
      margin-top: 33px;
    }
    #sci-9{
      margin-left: 101px;
      margin-top: 33px;
    }
    #sci-8{
      margin-left: 101px;
      margin-top: 33px;
    }
    #sci-7{
      margin-left: 101px;
      margin-top: 33px;
    }
    #sci-6{
      margin-left: 101px;
      margin-top: 33px;
    }

    #math-sci{
      width: 93px;
      height: 93px;
      margin-left: 96px;
      margin-top: 21.9px;
    }

    #math-sci2{
      width: 93px;
      height: 93px;
      margin-left: 96px;
      margin-top: 25px;
    }

    .Rectangle-739 {
      width: 303px;
      height: 205px;
      border-radius: 10px;
      box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.3);
      background-color: #ffffff;
      /* margin-right: 410px; */
    }

    

    .Rectangle-740 {
      width: 1920px;
      height: 161px;
      object-fit: contain;
      border: solid 1px #707070;
      display: inline-flex;
      background-color: #1e4190;
      margin-top: 106px;
    }

    .Rectangle-cbse{
      width: 960px;
      height: 161px;
    }

    .CBSE {
      width: 205px;
      height: 88px;
      object-fit: contain;
      font-family: Montserrat;
      font-size: 72px;
      font-weight: 900;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.22;
      letter-spacing: normal;
      text-align: left;
      color: #ffffff;
      margin-left: 348px;
      margin-top: 36px;
      margin-bottom: 37px;
    }


    .Rectangle-741 {
      width: 960px;
      height: 161px;
      object-fit: contain;
      opacity: 0.46;
      border: solid 1px #707070;
      background-color: #ffffff;
    }

    .ICSE {
      width: 174px;
      height: 88px;
      object-fit: contain;
      font-family: Montserrat;
      font-size: 72px;
      font-weight: 900;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.22;
      letter-spacing: normal;
      text-align: left;
      color: #ffffff;
      margin-left: 393px;
      margin-top: 37px;
      margin-bottom: 37px;
    }

    .cbse-icse{
      
      display: inline-flex;
     
    }

    .cbse-icse .cbse{
      width: 960px;
    }

    .cbse-icse .icse{
      width: 960px;
    }

    .cbse-icse .cbse .Class-12 {
      width: 205px;
      height: 58px;
      object-fit: contain;
      font-family: Montserrat;
      font-size: 48px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.21;
      letter-spacing: normal;
      text-align: left;
      color: #1e4190;
      margin-left: 85px;
      margin-top: 90px;
    }

    .cbse-icse .icse .Class-11 {
      width: 195px;
      height: 58px;
      object-fit: contain;
      font-family: Montserrat;
      font-size: 48px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.21;
      letter-spacing: normal;
      text-align: left;
      color: #1e4190;
      margin-left: 733px;
      margin-top: 90px;
    }

    .cbse-math{
      display: inline-flex;
    }

    .cbse-math .cards{
      display: inline-flex;
      margin-top: 25px;
      
    }
    #cbse-math-1{
      margin-left: 230px;
    }


      

    .cbse-m {
      width: 103px;
      height: 39px;
      object-fit: contain;
      font-family: Montserrat;
      font-size: 32px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.22;
      letter-spacing: normal;
      text-align: left;
      color: #1e4190;
      margin-top: 67px;
      margin-left: 163px;
    }
    
    
    

   





  /* @media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
  
  /* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
  @media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  } 