
.navbar{
  width: 960px;
  height: 70px;
  object-fit: contain;
  margin-top: 0px;  
 
}

.Group-408{
  width: 518.5px;
  height: 237.5px;
  object-fit: contain;
  margin-left:441.5px;
  position: relative;
}


.Conquer-your-School-Exams-with-Us {
  width: 727.5px;
  height: 44.5px;
  object-fit: contain;
  font-family: Montserrat;
  font-size: 36.5px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.22;
  letter-spacing: normal;
  text-align: left;
  color: #4b4b4b;
  margin-left: 116.5px;
  margin-right: 116px;
  margin-top: 119px;
}
.Conquer-your-School-Exams-with-Us .text-style-1 {
  color: #1d4191;
}

.Your-board-your-language {
  width: 340.5px;
  height: 29px;
  object-fit: contain;
  font-family: Montserrat;
  font-size: 24px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.21;
  letter-spacing: normal;
  text-align: left;
  color: #4b4b4b;
  margin-left: 310px;
  margin-top: 16px;
  
}
.Group-406 {
  width: 179px;
  height: 32.5px;
  object-fit: contain;
  margin-left: 390.5px;
  margin-right: 390.5px;
  margin-top: 29px;
}

.gummy-app-development {
  width: 531.2px;
  height: 239px;
  object-fit: contain;
  margin-left: 214.5px;
  margin-top: 44px;
  margin-right: 214.3px;
}

.Group-889 {
  width: 340.5px;
  height: 89px;
  object-fit: contain;
  margin-left: 50px;
  margin-top: 48px;
  margin-right: 569.5px;
}


.Group-407 {
  width: 575px;
  height: 508px;
  object-fit: contain;
}


.Rectangle-705 {
  width: 719.5px;
  height: 1609px;
  object-fit: contain;
  border-radius: 13.5px;
  box-shadow: 0 1.5px 3px 0 rgba(0, 0, 0, 0.16);
  background-color: #ffffff;
}

.Uttar-Pradesh-Board {
  width: 256.5px;
  height: 29px;
  object-fit: contain;
  font-family: Montserrat;
  font-size: 24px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.21;
  letter-spacing: normal;
  text-align: left;
  color: #1e4190;
}

.Conquer-your-boards-and-learn-every-concept-with-us {
  width: 516px;
  height: 23.5px;
  object-fit: contain;
  font-family: Montserrat;
  font-size: 19px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.24;
  letter-spacing: normal;
  text-align: left;
  color: #4b4b4b;
}

